<div class="titoloDIV">
  <div class="percorsoDIV">
    <a [routerLink]="['/admin-dashboard/products']">
      <p class="p2" style="margin-right: 10px;">Prodotti</p>
    </a>
    <a [routerLink]="['/admin-dashboard/products']">
      <p class="p2">/ Tutti i prodotti</p>
    </a>
    <p>/ Aggiungi prodotto</p>
  </div>
  <div class="percorsoDIV" style="height: fit-content;">
    <h1>Aggiungi prodotto</h1>
  </div>
</div>

<!-- DETTAGLIO -->
<div class="containerDIV" style="padding-bottom: 20px;">
  <div class="titoloFORM">
    <p class="p3" style="color: gray;">Informazioni Generali </p>
  </div>
</div>

<div class="containerDIV" style="margin-top: 0;padding-top: 0;padding-bottom: 0;height: fit-content;">

  <div class="containerDIV" style="margin-top: 0;justify-content: left;padding-top: 0;padding-bottom: 0;
            padding-left: 0;padding-right: 0;width: 100%">

    <!-- IMMAGINE PRODOTTO -->
    <div class="containerDIV2" style="width: 35%;padding-left: 0;padding-bottom: 0;
                padding-right: 0;flex-direction: column;margin-left: 0;height: 400px;">
<input type="file" #file [multiple]="false" (change)="onFileSelected($event)" style="display:none" />

      <div style="width: 100%;height: 100%;background-color: rgb(241, 241, 241);
      border-radius: 5px;border: 2px dashed gray;">
      <img *ngIf="previewUrl" src="{{previewUrl}}" style="width: 100%; height: 100%;">
      </div>

      <div class="imageButtonDIV">

        <a href="javascript:void(0)" (click)="file.click()" style="width: 100%;"><button class="button4" style="margin-top: 10px;">CARICA
            IMMAGINE</button></a>

      </div>


    </div>



    <!-- MODIFICA PRODOTTO -->
    <div class="containerDIV2"
      style="padding-left: 0;width: 100%;padding-right: 0;flex-direction: column;padding-bottom: 0;">

      <div class="containerDIV3" style="width: 100%;padding-left: 15px;">
        <div class="campoFORM">
          <form class="example-form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td><mat-form-field class="inputFORM" appearance="outline" subscriptSizing="dynamic">
                    <mat-label class="nomeCAMPO">Nome Prodotto *</mat-label>
                    <input matInput value="{{ prodotto.nome }}" [(ngModel)]="prodotto.nome"
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field></td>
              </tr>
            </table>
          </form>
        </div>
      </div>

      <!-- SECONDA RIGA -->
      <div class="containerDIV3" style="padding-left: 15px;">

        <div class="campoFORM">
          <form class="example-form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td><mat-form-field class="inputFORM" appearance="outline" subscriptSizing="dynamic">
                    <mat-label class="nomeCAMPO">Tipologia *</mat-label>
                    <mat-select value="{{prodotto.type}}" [(ngModel)]="prodotto.type"
                      [ngModelOptions]="{standalone: true}">
                      <mat-option value="ALIMENTARI">ALIMENTARI</mat-option>
                      <mat-option value="CANCELLERIA">CANCELLERIA</mat-option>
                    </mat-select>
                  </mat-form-field></td>
              </tr>
            </table>
          </form>
        </div>


        <div class="campoFORM">
          <form class="example-form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td><mat-form-field class="inputFORM" appearance="outline" subscriptSizing="dynamic">
                    <mat-label class="nomeCAMPO">Costo *</mat-label>
                    <div style="flex-direction: row;display: flex;">
                      <p class="nomeCAMPO" style="font-size: 16px;">€</p>
                      <input matInput value="{{ prodotto.prezzo }}" [(ngModel)]="prodotto.prezzo"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                  </mat-form-field></td>
              </tr>
            </table>
          </form>
        </div>


        <div class="campoFORM">
          <form class="example-form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td><mat-form-field class="inputFORM" appearance="outline" subscriptSizing="dynamic">
                    <mat-label class="nomeCAMPO">Codice Prodotto *</mat-label>
                    <div style="flex-direction: row;display: flex;">
                      <p class="nomeCAMPO" style="font-size: 16px;font-weight: none;">#</p>
                      <p class="nomeCAMPO" style="font-size: 16px;color: black;margin-right: 0;font-weight: normal;">
                        00000000</p>
                      <input matInput value="{{fakeId}}" readonly>
                    </div>
                  </mat-form-field></td>
              </tr>
            </table>
          </form>
        </div>


        <div class="campoFORM">
          <form class="example-form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td><mat-form-field class="inputFORM" appearance="outline" subscriptSizing="dynamic">
                    <mat-label class="nomeCAMPO">Orari Disponibili *</mat-label>
                    <input matInput value="{{ prodotto.orariDisponibili }}" [(ngModel)]="prodotto.orariDisponibili"
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field></td>
              </tr>
            </table>
          </form>
        </div>



      </div>



      <!-- TERZA RIGA -->
      <div class="containerDIV3" style="padding-bottom: 0px;padding-left: 15px;">

        <div class="campoFORM">
          <form class="example-form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td style="height: 150px;padding-bottom: 0;"><mat-form-field class="inputFORM" appearance="outline"
                    subscriptSizing="dynamic">
                    <mat-label class="nomeCAMPO">Descrizione *</mat-label>
                    <input matInput value="{{ prodotto.descrizione }}" [(ngModel)]="prodotto.descrizione"
                      [ngModelOptions]="{standalone: true}">
                  </mat-form-field></td>
              </tr>
            </table>
          </form>
        </div>



      </div>


    </div>

  </div>





</div>


<!-- FOOTER -->
<div class="containerDIV" style="margin-top: 0;justify-content: left;padding-top: 40px;padding-bottom: 20px;">

  <div class="percorsoDIV"
    style="height: fit-content;width: 100%;align-items: center;gap: 20px;justify-content: space-between;">
    <p class="p4">* Campi obbligatori </p>
    <button class="button2" style="width: 150px;color: white;background-color: coral;margin-left: 0;"
      (click)="insert()">SALVA</button>
  </div>

</div>
