<div class="popup_container popup-overlay">
  
  <div class="popup-content">

    <div class="title_popup">
      <h2 class="popup_title">Sei Sicuro di voler Eliminare il tuo Profilo?</h2>
    </div>
    <div class="description">
      <p>Questa operazione è irreversibile. Cliccando su "elimina"
        perderai tutti i dati e lo storico di tutti i tuoi ordini</p>
        
      </div>
      <div class="line"></div>
      <div class="section_button">
        <button mat-dialog-close class="btn_annulla">Annulla</button>
        <button mat-dialog-close class="btn_delete" (click)="deleteAnagrafica()">ELIMINA</button>
      </div>
    </div>


  </div>

  
