<div class="cart-component" style="margin-top: 9px; margin-left: 10px; z-index: 2;" >
  <div class="cart-title" style="display: flex; flex-wrap: nowrap; gap: 60%;">
    <h3 mat-dialog-title>CARRELLO</h3>
  </div>
  <div mat-dialog-content style="display: flex; flex-wrap: wrap;">
    
      <div *ngFor="let cartItems of cartItems" style="display: flex;flex-direction: column;width: 90%;" >
        
        <div style="display: flex; flex-direction: row; justify-content: space-between"><div style="display: flex; flex-direction: row;" class="nomeImg"><div class="immagine"><img src="{{cartItems.immagine1}}" width="60px" height="50px"></div><p class="nome">{{cartItems.nome}}</p></div><div class="prezzo">{{cartItems.prezzo | currency:'EUR'}}<div class="elimina"><i class="far fa-trash-alt" style="color: #999999;" (click)="data.removeFromCart(cartItems.id)"></i></div></div></div>
        
        <div class="orario"></div>
        <hr style="width: 140%; position: relative; left: -80px;">
        </div>
       
      
    
  </div>
  <footer id="footer">
    <div style="display: flex; flex-wrap: nowrap; width: 100%;flex-direction: column; justify-content: flex-start; margin-left: 20px;">
      <div style="display: flex; flex-wrap: nowrap; width: 100%; justify-content: flex-start; margin-left: 20px;">
        <p>Sub Totale.</p>
        <p>{{ data.totale | currency:'EUR' }}</p>
      </div>
      <div style="font-weight:bold;display: flex; flex-wrap: nowrap; width: 100%; justify-content: flex-start; margin-left: 20px;">
        <p>Totale.</p>
        <ng-container *ngIf="data.totale === 0; else notZeroTotal">
          <p>0 {{ 'EUR' }}</p>
        </ng-container>
        
        <ng-template #notZeroTotal>
          <p>{{ (data.totale + 10) | currency:'EUR' }}</p>
        </ng-template>
      </div>
    </div>
    <div style="display: flex; flex-wrap: wrap; width: 100%; justify-content: center; margin-left: -10px;">
     
      <button  class="button-buy3" (click)="buy()">Concludi la prenotazione</button>


      <button mat-dialog-close class="button-close" >Continua la Ricerca</button>
    </div>
    
  </footer>
</div>
