<div class="containerDIV" style="margin-top: 0;">
  <a [routerLink]="['/admin-dashboard/profile']"><button style="width: fit-content;height: fit-content;background-color: transparent;border: none;">
    <div class="circle" mat-button mat-dialog-close>
      <mat-icon style="color:black !important;">close</mat-icon>
    </div>
  </button></a>
  </div>




  <div class="containerDIV2" style="padding-top: 0 !important;padding-bottom: 10px !important;"><img src="../../../assets/success.png"></div>



<div class="containerDIV2" style="padding-top: 0 !important;"><h1 style="color: green;">Profilo modificato con successo!</h1></div>



<div class="containerDIV2" style="padding-top: 0 !important;padding-bottom: 30px !important;"><p class="p2" style="margin-right: 0 !important;">Hai modificato il tuo profilo.</p></div>


