
@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
   
  }
  
  .show-hide-animation {
    animation: fadeInOut 3s ease-out;
    position: absolute;
    bottom: 0px;
  }